[![buildstatus](https://travis-ci.org/charleskoehl/parsimonious.svg?branch=master)](https://travis-ci.org/charleskoehl/parsimonious)
[![codecov](https://codecov.io/gh/charleskoehl/parsimonious/branch/master/graph/badge.svg)](https://codecov.io/gh/charleskoehl/parsimonious)

## Utilities for Parse Server cloud code and JS SDK

## Usage
#### Basic:
```javascript
const parsm = require('parsimonious')
const CoolThing = parsm.getClassInst('CoolThing', {color: 'Red'})
```
#### Override the Parse instance used:
```javascript
// Initialize Parse JS SDK first:
Parse.initialize('myAppId')
Parse.masterKey = 'myMasterKey'

// Initialize parsimonious with the initialized Parse instance:
const parsm = require('parsimonious')
parsm.setParse(Parse)

// Call the methods:
const CoolThing = parsm.getClassInst('CoolThing', {color: 'Red'})
```

[Change Log](#changelog)

{{>main}}

<a name="changelog"></a>
