[![buildstatus](https://travis-ci.org/charleskoehl/parsimonious.svg?branch=master)](https://travis-ci.org/charleskoehl/parsimonious)
[![codecov](https://codecov.io/gh/charleskoehl/parsimonious/branch/master/graph/badge.svg)](https://codecov.io/gh/charleskoehl/parsimonious)

## Utilities for Parse Server cloud code and JS SDK

#### Usage example: creating and saving parse objects
```javascript
const parsm = require('parsimonious')

// Create an instance of 'Course' with a name attribute:
// Also creates the class if needed.

const course = await parsm.getClassInst('Course', {
  name: 'Sociology 201'
}).save()

// Create another with two attributes:
const student = await parsm.getClassInst('Student', {
  name: 'Maria',
  class: 2020
}).save()
```

#### Usage example: create many-to-many relationships with metadata
```javascript
// Create a many-to-many relationship between students and courses,
// and record the fact that a student completed a course,
// with date of completion and grade earned:


const meta = {completed: new Date(2017, 11, 17), grade: 3.2}

const opts = {sessionToken: 'r:cbd9ac93162d0ba1287970fb85d8d168'}

const joinObj = await parsm.joinWithTable(student, course, meta, opts)

// joinObj is now an instance of the class 'Student2Course',
// which was created if it didn't exist.
// The Student2Course class has pointer columns 'student' and 'course',
// plus a date column named 'completed' and a numeric column named 'grade'.
```

#### Usage example: search many-to-many relationships
```javascript

// Find the top 10 students who have taken a particular course
// and earned a grade of at least 3:

const classes = {
   Student: null,
   Course: course
}

const criteria = {
  descending: 'grade',
  greaterThanOrEqualTo: ['grade', 3],
  limit: 10,
  include: 'student'
}

const joinObjs = await parsm.getJoinQuery(classes, criteria).find()

// joinObjs is now an array of instances of the class 'Student2Course'
// with details of students in the 'student' column.
```
#### Override the Parse instance used:
```javascript
// Initialize Parse JS SDK first:
Parse.initialize('myAppId')
Parse.masterKey = 'myMasterKey'

// Initialize parsimonious with the initialized Parse instance:
const parsm = require('parsimonious')
parsm.setParse(Parse)
```

[Change Log](#changelog)

{{>main}}

<a name="changelog"></a>
